h1 {
    font-family:fantasy;
    font-weight: bold;
    text-align: center;
    padding: 18px 0px 10px;
    margin: 2rem 1rem 3rem 1rem;
    border-style: double;
    font-size: 32px;
}
h2 {
    font-family: fantasy;
    margin: 1rem 1rem 1rem 1rem;
    max-width: 200rem;
    padding: .5rem;
    font-size: 24px;
    text-align: left;
}
p {
    width: 50%;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 1rem 1rem 15rem 1rem;
    max-width: 100rem;
    padding: .5rem;
    text-align: left;
    font-size: 20px;
}
.portfolio-name {
    border-bottom: 1px solid;
    box-shadow: 2px;
}
section {
    margin: 5rem 4rem 4rem 4rem;
    padding: 1rem;
    background-color: #f1eeee;
    box-shadow: 5px 5px 5px 5px;
}
.p-link {
    width: 14rem;
    height: 15rem;
    float: right;
    margin: 1rem 2rem 1rem 1rem;
    box-shadow: 2px 2px 5px 5px;
}